extends ../layouts/default
include ../mixins/icon

block content
	section.in-Intro
		.anchor#esittely
		.small-wrapper!= data.introduction.introduction
		.wrapper
			.in-IntroDetailsWrapper
				.row.no-gutter.line-height-0
					.col-xs-12.col-sm-6.in-IntroImageWrapper
						img(src='/images/cropped-render.jpg', alt='Markus Kumara').in-IntroImage
					.col-xs-12.col-sm-6
						div.in-IntroDetails!= data.introduction.experience

	section.srv-Services
		.small-wrapper
			.anchor#palvelut
			h2.section-title Palvelut
			each service, index in data.services
				div.row.no-gutter.srv-ServiceWrapper(class = index % 2 === 0 ? 'srv-ServiceWrapper-Left' : '')
					.col-xs-12.col-sm-4.srv-ServiceImageWrapper.line-height-0
						img(src=service.imagePath).srv-ServiceImage
					.col-xs-12.col-sm-8.srv-ServiceContentWrapper
						.srv-Service
							h3.srv-Service_Title
								span.srv-Service_Title_Text= service.title
							div!= service.introduction.brief
							.src-Service_ReadMoreWrapper
								a(href='/palvelut#' + service.slug).src-Service_ReadMore Lue lisää
									span.src-Service_ReadMore_Icon
										+icon('arrow')

		.srv-ServiceDisclaimers
			p Teen kotikäyntejä Jyväskylässä ja lähikunnissa

	section.pr-Prices
		.small-wrapper
			.anchor#hinnasto
			h2.section-title.pr-SectionTitle Hinnasto
			.srv-PriceDisclaimers
				p Toimintatapoihini kuuluu veloitusperusteiden huolellinen selvittäminen ennen palvelun tilaamista, jolloin hinta ei tule asiakkaalle yllätyksenä. Toimeksiannot mahdollisia myös etukäteen sovittavalla kiinteällä hinnalla.
				p: strong En laskuta palvelutarpeen arvioinnista.

			.row
				each price in data.prices
					.col-xs-12.col-sm-4
						.pr-Price
							.pr-Price_Icon
								+icon(price.icon)
							h3.pr-Price_Title= price.title
							p.pr-Price_Description= price.pricing

	section.ctf-Contact
		.small-wrapper
			.anchor#ota-yhteytta
			h2.section-title Ota yhteyttä
			.ctf-ContactDisclaimers
				p Ota yhteyttä sähköpostitse osoitteeseen
			.ctf-ContactMethod
				a(href="mailto:markus@lakipalvelut-kumara.fi").ctf-ContactLink
					span.ctf-ContactLink_Icon: +icon('mail')
					span.ctf-ContactLink_Text markus@lakipalvelut-kumara.fi
			.ctf-ContactDisclaimers
				p tai puhelimitse, soittamalla tai tekstiviestillä numeroon
			.ctf-ContactMethod
				a(href="tel:+358451248650").ctf-ContactLink
					span.ctf-ContactLink_Icon: +icon('phone')
					span.ctf-ContactLink_Text 045&nbsp;124&nbsp;8650
